body {
    background: lightgray;
    font-family: serif, Tahoma; 
  }
  h1 {
    color: black;
    background: darkred;
    text-align: center;
    padding: 15px;
  }
  .assign {
    background: grey; 
    padding: 10px;
    margin: 10px;
    display: flex;
  }
  .assign img{
    width: 650px;
    padding: 50px;
  }
  a{
      text-decoration: none;
      color: black;
  }
