/* STRUCTURE */
body {
    background-color: #E6E3D3;
    border: 1px solid navy;
}

header {
    text-align: center;
    color:navy;
}

#main-content h3 {
    text-align: center;
    text-decoration: solid;
    padding-top: 20px;
}

#main-content {
    background-color:grey;
    width: 100%;
    border: 1px solid navy;
    padding-top:0px;
}

#titles {
    padding: 15px;
}

#titles h2 {
    text-align: center;
}

#main-aside {
    background-color:palevioletred;
    color:white;
    margin-top: 0;
    padding-bottom: 15px;
    height: 97%;
}

#main-aside h2 {
    padding-left: 20px;
    padding-top: 25px;
}

#main-aside ul {
    padding-left: 20px;
}

#main-aside li {
    list-style-type: none;
}

#main-aside a {
    text-decoration: underline;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#big-ideas {
    text-align: left;
    background-color: #E6E3D3;
    color: navy;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

#big-ideas h3 {
    padding-left:10px;
}

#big-ideas p {
    padding-left:10px;
}

#big-ideas img {
    padding-bottom:15px;
}

/* NAVIGATION */
#main-nav ul {
    padding-left: 0;
}

#main-nav li{
    list-style-type: none;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    background-color:palevioletred;
}

#main-nav a {
    padding:5px;
    background-color:palevioletred;
    color:white;
    display:inline-block; /* Turns the whole background highlight into a clickable area. */
    text-decoration: none;
}

/* TYPOGRAPHY */
#main-footer p{
    text-align: center;
}

/* MEDIA QUERIES */
@media only screen and (min-width:600px) { /* Applies to 600px and larger screen size */
    .columns {
        display:flex;
    }
    
    .one { /* We are using this class to split the flex attribute eveninly and as a ration of 1:1 */
        flex:1;
    }

    .two { /* This assigns a 2:1 ratio */
        flex:2;
    }

    .three {
        flex:3;
    }

    .four {
        flex: 4;
    }

    #main-nav li {
        flex:1;
    }
}