/* CONSTANTS */
:root {
    --first-color:white;
    --second-color:black;
    --third-color:maroon;
}

/* HEADER */
header {
    padding-left: 15px;
}

h1 {
    text-align: center;
    background-color:var(--third-color);
    display:block;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-radius: 2px;
    width:15%;
    border: 5px var(--first-color);
    box-shadow:  0 0 0 2px var(--first-color);
}

/* MAIN-CONTENT */
body {
    background-color:var(--second-color);
    color: var(--first-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    background-color: var(--third-color);
    border: 2px solid var(--first-color);
    border-radius: 2px;
    width: 67%;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    margin-bottom: 15px;
    text-align:center;
}

h2 {
    padding-top: 4px;
    text-align:center;
    text-decoration: underline;
    
}


/* ASSIGNMENTS  */
#assignments h2 {
    text-align:center;
}

#assignments section {
    background-color: var(--second-color);
    border: 1px solid var(--first-color);
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-top:5px;
    text-align: center;
    width:fit-content;
    max-width:100%;
}

.a-img {
    padding-top: 10px;
    height:auto;
    max-width: 100%;
}

#assignments a {
    text-decoration: none;
    color:var(--first-color);
}

#assignments a:hover {
    color:var(--third-color);
}

#assignments section.temp {
    background-color: var(--third-color);
    color: var(--third-color);
    border:none;
}

/* PROJECTS */
#projects h2 {
    text-align:center;
}

#projects section {
    background-color: var(--second-color);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-top:5px;
    text-align: center;
    width:fit-content;
    border: 1px solid var(--first-color);
    border-radius: 3px;
}

.p-img {
    padding-top: 10px;
    width: 350px;
    height: 220px;
    max-width:100%;
}

.p-img_1 {
    padding-top: 10px;
    max-height: 60%;
    max-width: 100%;
}

#projects a {
    text-decoration: none;
    color:var(--first-color);
}

#projects a:hover {
    color:var(--third-color);
}

#projects section.temp-one{
    background-color: var(--third-color);
    color: var(--third-color);
    border:none;
}

.temp-one {
    flex:1;
}

/* MEDIA QUERIES */
@media only screen and (min-width:600px) { /* Applies to 600px and larger screen size */
    .columns {
        display:flex;
    }
    
    .one { /* We are using this class to split the flex attribute eveninly and as a ration of 1:1 */
        flex:1;
    }

    .two { /* This assigns a 2:1 ratio */
        flex:2;
    }

    .three {
        flex:3;
    }

    .four {
        flex: 4;
    }

    #main-nav li {
        flex:1;
    }

    #assignments {
        flex-wrap:wrap;
    }

    #assignments section{
        margin-right:7px;
        margin-left:7px;
        flex: 25%;
        margin-bottom: 7px;
    }

    #projects section{
        margin-right:7px;
        margin-left:7px;
        flex: 25%;
        margin-bottom: 7px;
    }
}